//- Layouts
extends layout/default

//- Includes
include mixins/image
include mixins/tripOffer
include mixins/promotion
include mixins/advice

block append head
  link(rel='stylesheet', href='stylesheets/home/styles.css')

block content
  main
    each trip in trips
      +tripOffer(trip, trip.id)
  aside
    section.promotions
      header
        h1 Promotions
        each promotion in promotions
          +promotion(promotion)
    section
      header
        h1 Advices
      table
        tbody
          each advice in advices
            +advice(advice)
  script(type='text/javascript', src='http://localhost:3000/javascripts/home/pagination.mjs')