mixin nameInput(inputData)
  section.form_name_input
    label #{inputData.label}
    input(type='text', name=`${inputData.name}`)
    p(id='input_error') This field cannot be empty or has more than 39 characters