//- Includes
include ../mixins/image

//- Page
doctype html
html(lang="en")
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Travel Agency
      link(rel='stylesheet', href='http://localhost:3000/stylesheets/globals.css')
  body
    header 
      block bodyHeader
        +image()(src='http://localhost:3000/images/logo.png', alt='logo')
        nav.dropdown
          .dropbtn Menu
          .dropdown-content
            a(href='http://localhost:3000/home') Home
            a(href='http://localhost:3000/home') Trip           
            a(href='http://localhost:3000/registration') Register
        nav.header_nav
          ul
            li: a(href="http://localhost:3000/home") Home
            li: a(href="http://localhost:3000/home") Trip 
            li: a(href="http://localhost:3000/registration") Register    
    .page
        block content
    footer
      block footer
        nav.footer_nav
          ul
            li: p.footer_nav_text Travel agency 2022
            li: a(href='http://localhost:3000/home') About
            li: a(href='http://localhost:3000/home') Privacy Politics 
            li: a(href='http://localhost:3000/home') Contact